<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
    body {
        background-color:crimson;
        color: white;
    }
    h1 {
        color: yellowgreen;
    }
    </style>
<body>
    <h1>Welcome to the error Page</h1>
    <p>enter a valid ig user</p>
    
<script src="/js/script.js"></script>
</body>
</html>